{{ form(form) }}
<a href="{{ path('admin_livre_index') }}"><h3>Retour à la liste des livres</h3></a>
 <div>
 <ol>
  {% for livre in livre %}
  <li>
    <p> 
    {{ livre.titre }}
    </p>
    <p> 
    {{ livre.description }}
    </p>
    <p>
    {{ livre.prix}} €
     </p>
          <p> 
          {{ livre.auteur.prenom}}
          {{ livre.auteur.nom}}
          </p>
      </li>
      <hr>
    {% endfor %}
  </ol>
</div>
